*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  border: 3px solid coral;
  display: block;
  justify-content: center;
  position: relative;
  }

#navbar{
  position: fixed;
  padding: 2em; 
  width: ;
  height: 100vh;
  background-color: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

#navbar > header{
  margin: 0.5em;
  padding: 0.2em;
}

ul {
 list-style: none;
  margin: 0.5em;
  padding: 0.2em;
}

li {
  margin: 1em;
  padding: 2em;
  line-height: 2em;
}

#main-doc{
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
  max-width: auto; 
  max-height: auto;
  text-align: justify;
  background-color:lightgray;
}

.main-section > header {

  margin: 0.5em;
  padding: 0.2em;
  text-align: center;
}

.main-section > p {
  text-align: center;
}
