*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  border: 3px solid coral;
  display: block;
  justify-content: center;
  position: relative;
  }

#navbar{
  flex-basis: 40%;
  position: fixed;
  padding: 2em; 
  width: 23%;
  background-color: cadetblue;
}

#main-doc{
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
  /* flex-basis: 70%; */
  /* max-width: 70%; */
  max-width:77vw; 
  text-align: center;
  background-color: blueviolet;
}